.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioButton{
    display: inline;
}
.radioButton label{
    margin: 0.3rem;
}

.map-container
{
    padding-top: 2rem;
}
.map {
    fill: turquoise;
}
.map path{
    stroke: black;
}

.map path:hover{
    fill: blue;
}

