.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioButton{
    display: inline;
}
.radioButton label{
    margin: 0.3rem;
}

/* ---- home.js ---- */
.home-container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* ---- Map.js ---- */

.map-container
{
    padding-top: 2rem;
}
.map {
    fill: turquoise;
}
.map path{
    stroke: black;
}

.map path:hover{
    fill: blue;
}

/* ---- about.js ---- */

.about-container{
    display: flex;
    flex-direction: column;
    height: 12rem;
    margin-top: 1rem;
    align-items: center;
}

.about-container-empty{
    text-align: center;
    margin-top: 1rem;
}

.about-btn{
    text-align: center;
    width: 7rem;
    height: auto;
    flex-grow: 0;
}

.about-container img{
    height: 10rem;
    width: auto;
    padding-left: 3rem;
}

.about-text{
    display: flex;
    flex-direction: column;
}

/* ---- homeManager.js ---- */

.admin-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.admin-upload{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

.admin-search{
    align-content: center;
}
.admin-search button{
    margin-right: 0.2rem;
}

.admin-logout{
    width: auto;
    flex-grow: 0;
    margin-left: 4rem;
}

/* ----- resultCard.js ----- */

.result-card{
    border: 1px solid black;
}

