.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioButton{
    display: inline;
}
.radioButton label{
    margin: 0.3rem;
}

/* ---- Map.js ---- */

.map-container
{
    padding-top: 2rem;
}
.map {
    fill: turquoise;
}
.map path{
    stroke: black;
}

.map path:hover{
    fill: blue;
}

/* ---- homeManager.js ---- */

.admin-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.admin-upload{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
}

.admin-search{
    align-content: center;
}
.admin-search button{
    margin-right: 0.2rem;
}

.admin-logout{
    width: auto;
    flex-grow: 0;
    margin-left: 4rem;
}

/* ----- resultCard.js ----- */

.result-card{
    border: 1px solid black;
}

